  p {
    margin: 0;
  }

  /* Navbar */
  .navbar {
    background-color: #FF991A !important;
  }

  .navbar-brand img {
    width: 120px;
  }

  /* Body */

  body {
    background-color: #cc8529;
  }

  /* Cards */
  .cards__container {
    width: 100%;
    height: 800px;
  }

  .card__title {
    top: 16px;
    border-bottom: 3px solid rgb(202, 31, 25);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(202, 31, 25);
    border-top: none;
    border-radius: 3px;
  }

  .card {
    height: 360px;
    background-image: url(../img/fondotarjetas.png);
    margin: 5px;
  }

  .card p {
    font-size: 8px;
  }

  .card-img {
    /* border: 1px solid #11cc40; */
    border: 3px solid rgb(202, 31, 25);
    border-radius: 5px;
  }

  .img__container {
    background-color: white;
    border-radius: 3px;
  }

  .img__container .card img {
    height: 300px;
    width: 250px;
  }

  .card-body {
    background-color: rgb(212, 30, 158);
    max-height: 30px;
  }

  .card-level,
  .card-level-modal {
    height: 25px;
  }

  .diagonal {
    height: 25px;
    clip-path: polygon(0 0, 0% 100%, 120% 100%, 0% 0%);
    border: 1px solid;
  }

  .card-name {
    height: 20px;
    width: 98%;
  }

  .name__bottom {
    height: 4px;
    width: 100%;
    margin-top: 5px;
    border-bottom-right-radius: 6rem;
  }

  .card__description {
    height: 60px;
  }

  /* Modal Propio */

  .modalPropio {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    bottom: 15%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.527);
  }

  /* Card modal */
  .card__modal {
    width: 25rem;
    height: 458px;
    background-image: url(../img/fondotarjetas.png);
    margin: 5px;
    margin-top: 50px;
  }

  .card__modal-img {
    height: 365px;
    border: 3px solid rgb(202, 31, 25);
    border-radius: 5px;
  }

  .img__top {
    height: 336px;
  }



  .card__modal-body {
    background-color: rgb(212, 30, 158);
    max-height: 30px;
  }

  .card-name-modal {
    height: 20px;
    width: 98%;
  }

  .card__modal-description {
    height: 60px;

  }

  /* .modal-body {}

.modalImage {}

.modalImage img {
  width: 14.5%;
} */

  .btn-close {
    margin-left: 0;
    margin-right: 100%;
  }



  /* Listado */

  .listImg {
    text-align: center;
    height: 70px;
    border-radius: 40px;
  }

  /* modal */


  .modal-body {
    height: 400px;
    background-image: url(../img/relojdigi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }






  /* End Modal */

  .imgReloj {
    height: 119px;
  }